version: 1.4.0.{build}-{branch}

skip_tags: true

image: Visual Studio 2017

clone_depth: 1

nuget:  
  disable_publish_on_pr: true

environment:
  COVERALLS_REPO_TOKEN:
    secure: l3nZXQA47cVHWucS5LK20u28aer1QZT4zcgFo2LZAOn4v1CtRjrXOomdhvJG95bD
  github_access_token:
    secure: yVMCFepA5CWkd+a+SaL+RbAWaZ8SWQFzZKnd64SNt5PXEg704BRKWi4LWL08cSka
  github_email:
    secure: 5iYcV2GCbnI6N9RZRh6EZa7vVXdoaMoyArpwr4r/r/Q=

install:
  - cinst docfx

configuration: Release

build_script:
- dotnet --info
- dotnet restore --no-cache
- dotnet build --configuration Release --version-suffix %APPVEYOR_BUILD_NUMBER%
- dotnet pack src/Stubbery/Stubbery.csproj --configuration Release --no-build

test_script:
- dotnet test test/Stubbery.IntegrationTests/Stubbery.IntegrationTests.csproj --configuration Release -f netcoreapp2.1 --no-build
- bash coverage.sh
- bash coveralls.sh

artifacts:
- path: src/**/*.nupkg

deploy:
  provider: NuGet
  api_key:
    secure: UrYYF7dW4tZvlgTcihdNHoURAdjBRAFUvbXO+Pt+772aQLVNtbjlDBY4BqvHBxcz
  skip_symbols: false
  artifact: /.*\.nupkg/

deploy_script:
- git config --global credential.helper store
- ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"
- git config --global user.email %github_email%
- git config --global user.name "markvincze"
- bash releaseDocs.sh
